@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-heading: "Poppins";
  --font-bangla: "Hind Siliguri";
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-cream text-gray-800;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
